## Importing Pandas

In [ ]:
import pandas as pd

## Opening a local file

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

## Opening a csv file from URL

In [ ]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv" # paste here the URL link
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

## Some Parameter

### **Sep parameter**

* If we are having a tsv file than we have to use an added parameter: sep = '\t'

In [ ]:
pd.read_csv('movie_titles_metadata.tsv',sep='\t',names=['sno','name','release_year','rating','votes','genres'])
#Here in our data we did not have column names so it made r1 as column names so to give col name[pass a list] explicitly we can use names parameter.

### **Index-col parameter**

* Some times we get data in which any column (let id) is not of any use except we can use it as index of rows. So we can use this parameter and give that col_name as it's value.

In [ ]:
pd.read_csv('aug_train.csv',index_col='enrollee_id')

### **Header Parameter**

* Sometimes we get data such that the first row are the column names but it take it as a row so identify that these are coumn names not rows use  parameter header = 1

In [ ]:
pd.read_csv('url',header = 1)

### **use-cols parameter**

* Sometimes we initially know the required columns (and the one that we don't require, in such case we use parameter use_cols = [list of col names]

### **squeeze parameters**

* Sometimes we only require only one col, so we can use it it converts dataframe into pandas series

In [ ]:
pd.read_csv('url', usecols = ['col_nmae'],squeeze = True)

### **Skiprows / nrows parameter:**
* It skips the specified rows.

In [ ]:
pd.read_csv('url',skiprows = [1,2,3]) #will skip row 1,2,3

* We can write function as well to specify rows according to some logic i.e let we want rec with id that are multiples of 5.

**Nrows:**
* If I give nrows = 40, it will load data with starting 100 rows.

### **Encoding parameter:**

* Sometimes we get err : UniCodeDecode Error, there are two optins go to editor like sublime text and change that or find the encoding format of file and use parameter encoding = 'latin-1

In [ ]:
pd.read_csv('url',encoding = 'latin-1')

### **Skip bad lines**

* Sometimes we get data like in some rows there are 5 cols some have 6 that are termed as ad lines.
* We would get parser error

In [ ]:
pd.read_csv('books.csv', error_bad_lines = False) #skip the bad lines

### **dtypes parameter**

* When we run read function, by default at the back it analyzes the datatypes of cols as well, but we can overreide this behaviour if we want.

In [ ]:
pd.read_csv('train.csv', dtype{'col_name' : int})

### **Handling Date**

* By default the column with dates are interpreted as string, so to convert it into date, time format

In [ ]:
pd.read_csv('url',parse_dates = ['col_name'])

In [ ]:
m

### **Convertors**
* Sometimes we want some changes even before loading data e.g for dept column i want SE instead of software engineering.

In [ ]:
def rename(val):
  if val == 'software engineering':
    return 'SE'
  else:
    return val
pd.read_csv('url',converters = {'col_name' : rename})

### **na_values parameter**

* Sometimes instead of Nan we get - , which causes problem in data processing.
* So we could define while loading dataset which kinda values we would consider nan

In [ ]:
pd.read_csv('url',na_values= ['-', 'N/A']) #can add as many elemments you need

### **Loading a huge dataset in chunks**

In [ ]:
pd.read_csv('url',chunksize = 5000) # chnuksize = no of rows at a time

In [ ]:
for chunks in dfs:
  print(chunks.shape)# u can use loop as u want,  to do any other operation